.componentWrapper {
    margin-top: 130px;
    margin-bottom: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 80px;
}

.loader {
    width: 100%;
    font-family: 'Montserrat', Poppins, sans-serif;
    color: #111111;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

/* HIGHLIGHTED POST */
.postWrapper {
    flex: 1;
    height: 100%;

    border: 1px solid crimson;
    min-height: 400px;
    min-width: 400px;
    max-width: 600px;

    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 6px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.postImage {
    flex: 1;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-right: 1px solid rgba(17, 17, 17, 0.1);

    aspect-ratio: 16/9;
}


.postContent {
    width: 100%;

    padding: 30px;
}

.about {
    margin-bottom: 20px;

    color: #111111;
    font-family: 'Montserrat', Poppins, sans-serif;
    font-size: .85rem;
    font-weight: 500;
    line-height: 150%;
}

.about>span {
    padding: 5px 7px;
    background-color: #1F2D6F;
    border-radius: 3px;
    margin-right: 5px;

    font: inherit;
    color: white;
}

.postContent>h3 {
    color: #111111;
    font-family: 'Montserrat', Poppins, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 120%;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    margin-bottom: 20px;
}

.postContent>p {
    color: #111111;
    font-family: 'Montserrat', Poppins, sans-serif;
    font-size: .95rem;
    font-weight: 400;
    line-height: 150%;

    opacity: .6;
    margin-bottom: 60px;
}

.postButton {
    width: fit-content;
    border: 1px solid #1F2D6F;
    margin-top: auto;
    border-radius: 4px;
    padding: 8px 15px;

    color: #111111;
    font-family: 'Montserrat', Poppins, sans-serif;
    font-size: .95rem;
    font-weight: 400;
    line-height: 150%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8ch;

    transition: 50ms;
}

.postButton:hover {
    background-color: #1F2D6F;
    color: white;

    transition: 200ms;
}

/* ------------------------------------------------------------------------ MEDIA QUERIES */
@media screen and (max-width: 1000px) {

    .postContent>h3 {
        font-size: 1.8rem;
    }

    .postContent>p {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 500px) {
    .postWrapper {
        min-width: 250px;
    }

    .postImage {
        aspect-ratio: 16/10;
    }
}